div(style='position:absolute;top:30px;left:30px;')
  input(id='inputRow',  (keyup)="onKeyRow($event)", value='20')
  br
  input(id='inputMargin',  (keyup)="onKeyMargin($event)", value='9')
  br
  input(id='inputWidth',  (keyup)="onKeyRow($event)", value='150')
  br
  input(id='inputHeight',  (keyup)="onKeyRow($event)", value='105')
  br
  input(id='inputScale',  (keyup)="onKeyRow($event)", value='50')

#puzzle(style='width:100%;padding:20px;')
  .tilewrapper
    .position
      //div( *ngFor="let puzzle of puzzles")
      casse-tete(*ngFor="let puzzle of puzzles", [puzzle]="puzzle")
      //  casse-tete([puzzle]="puzzle")
      //
      //
#vignettes(style='width:990px;margin: 0 auto;')
  vignette(*ngFor="let vignette of vignettes", [vignette]="vignette")
