.container-fluid
  .row
    .col-md-2



      label(for="inputRow")='# of rows'
      .input-group
        input( id="inputRow", data-slider-id='ex1Slider', type="text", data-slider-min="0", data-slider-max="60", data-slider-step="1", data-slider-value="20")
       
      label(for="inputMargin")='Margin'
      .input-group
        input( id="inputMargin", data-slider-id='exMarginSlider', type="text", data-slider-min="0", data-slider-max="30", data-slider-step="1", data-slider-value="9")

      label(for="inputWidth")='Tile width'
      .input-group
        input( id="inputWidth", data-slider-id='exWidthSlider', type="text", data-slider-min="0", data-slider-max="300", data-slider-step="5", data-slider-value="150")

      label(for="inputHeight")='Tile height'
      .input-group
        input( id="inputHeight", data-slider-id='exHeightSlider', type="text", data-slider-min="0", data-slider-max="300", data-slider-step="5", data-slider-value="105")

      label(for="inputScale")='Scale'
      .input-group
        input( id="inputScale", data-slider-id='exScaleSlider', type="text", data-slider-min="0", data-slider-max="300", data-slider-step="5", data-slider-value="50")

    .col-md-10
      #puzzle(style='width:100%;')
        .tilewrapper
          .position
            //div( *ngFor="let puzzle of puzzles")
            casse-tete(*ngFor="let puzzle of puzzles", [puzzle]="puzzle")
            //  casse-tete([puzzle]="puzzle")
            //
            //

//#vignettes(style='width:990px;margin: 0 auto;')
//  vignette(*ngFor="let vignette of vignettes", [vignette]="vignette")
